@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=latin-ext');

.weather-widget__wrapper {
	font-family: 'Amatic SC', sans-serif, Arial;
	padding: 25px 10px 25px 10px;
	color: white;
	background: #333 url("./img/background.jpg") no-repeat;
	background-size: cover;
	width: 500px;
	margin: 0 auto;
	border: 0;
	border-radius: 20px;
}

.weather-widget__content {
	margin: 0 auto;
}

.weather-widget__content_city {
	font-size: 100px;
	font-weight: 700;
	text-align: center;
	margin: 0;
	display: block;
}

.weather-widget__content_icon {
	text-align: center;
}

.weather-widget__content_icon img {
}

.weather-widget__content_second-title{
	font-size: 40px;
	margin:0 0 10px 0;
	text-align: center;
}

.weather-widget__content_info-wrapper {
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
}

.weather-widget__content_info-item-wrapper {
	width: 50%;
	margin-bottom: 10px;
}

.weather-widget__content_info {
	font-size: 30px;
	text-align: center;
}